body {
    margin: 0px;
    padding: 0px;
    /* background-image: url(/images/wiswis-bg.jpg); */
    background-color: rgb(190, 212, 231);
    text-align: center;
    font-family: 'Mukta', sans-serif;
    font-size: 18px;
    
}
header div {
    font-size: 42px;
}
.content {
    margin-top: 10%;
}
.ads, .gcash {
    margin: 50px
}
