* {
    margin: 0;
    padding: 0;
    background-color: rgb(192, 189, 189); 
    font-family: 'Mukta', sans-serif; 
}

.nav-item {
    text-align: center;
}

/* .navbar-brand {
    margin-right: 50%;
} */